/backend/prisma/ @maicolismael @RodrigoChalco
README.md @maicolismael @RodrigoChalco
.github/ @maicolismael @RodrigoChalco
.husky/ @maicolismael @RodrigoChalco
scripts/ @maicolismael @RodrigoChalco
vitest.config.* @maicolismael @RodrigoChalco
eslint.config.* @maicolismael @RodrigoChalco
vitest.setup.* @maicolismael @RodrigoChalco
